## pandas
####  比numpy重要的多，主要用在数据预处理,DataFrame和series

### 1. 数据读取

In [77]:
import pandas as pd
import numpy as np
info = pd.read_csv("info.csv")
print(type(info))
print(info.dtypes)
#print(help(pd.read_csv))
print(info)

<class 'pandas.core.frame.DataFrame'>
name    object
age      int64
tall     int64
dtype: object
       name  age  tall
0  zhangsan   22   170
1      lisi   17   150
2    wangwu   15   160
3      mazi   14   180
4   zhaoliu   12   190

In [78]:
#查看前几行
print(info.head(2))
#查看后几行
print(info.tail(2))
#查看列名
print(info.columns)
print(info.shape)
print("------------")
#查看第0号数据
print(info.loc[0])
print("------------")
print(info.loc[2:3])
print("------------")
print(info.loc[[0,2,3]])
print("------按列名取数据------")
print(info["name"])


print("-----所有列名-------")
col_names = info.columns.tolist()
print(col_names)
target_columns = []

for c in col_names:
    if c.endswith("e"):
        target_columns.append(c)
target_df = info[target_columns]
print(target_df.head(4))

       name  age  tall
0  zhangsan   22   170
1      lisi   17   150
      name  age  tall
3     mazi   14   180
4  zhaoliu   12   190
Index(['name', 'age', 'tall'], dtype='object')
(5, 3)
------------
name    zhangsan
age           22
tall         170
Name: 0, dtype: object
------------
     name  age  tall
2  wangwu   15   160
3    mazi   14   180
------------
       name  age  tall
0  zhangsan   22   170
2    wangwu   15   160
3      mazi   14   180
------按列名取数据------
0    zhangsan
1        lisi
2      wangwu
3        mazi
4     zhaoliu
Name: name, dtype: object
-----所有列名-------
['name', 'age', 'tall']
       name  age
0  zhangsan   22
1      lisi   17
2    wangwu   15
3      mazi   14

### 2.数据预处理

In [79]:
#加减乘除
print(info['age'])
div_10 = info['age']/10
print(div_10)
add_10 = info['age']+10
print(add_10)
print(info['age'].max())
print("------------")

#排序,是否新生成一个
info.sort_values('age',inplace=True)
print(info)
print("------------")
#降序
info.sort_values('age',inplace=True,ascending=False)
print(info)

0    22
1    17
2    15
3    14
4    12
Name: age, dtype: int64
0    2.2
1    1.7
2    1.5
3    1.4
4    1.2
Name: age, dtype: float64
0    32
1    27
2    25
3    24
4    22
Name: age, dtype: int64
22
------------
       name  age  tall
4   zhaoliu   12   190
3      mazi   14   180
2    wangwu   15   160
1      lisi   17   150
0  zhangsan   22   170
------------
       name  age  tall
0  zhangsan   22   170
1      lisi   17   150
2    wangwu   15   160
3      mazi   14   180
4   zhaoliu   12   190

In [80]:
train = pd.read_csv("train.csv")
train.head()
age = train["Age"]
#缺失值处理
age_is_null = pd.isnull(age)
age_null_true = age[age_is_null]
print(len(age_null_true))

mean_age = sum(age)/len(age)
print(mean_age)

good_ages = train['Age'][age_is_null == False]
correct_mean_age = sum(good_ages)/len(good_ages)
print(correct_mean_age)
#自动过滤掉nan
print(train['Age'].mean())

177
nan
29.6991176471
29.69911764705882

In [95]:
#计算三个不同等级舱的平均价格
passenger_classes = [1, 2, 3]
fares_by_class={}
for this_class in passenger_classes:
    pclass_rows = train[train["Pclass"]==this_class]
    pclass_fares = pclass_rows['Fare']
    fare_for_class = pclass_fares.mean()
    fares_by_class[this_class] = fare_for_class
print (fares_by_class)
#数据透视表
passenger_survial=train.pivot_table(index='Pclass',values='Survived',aggfunc=np.mean)
print(passenger_survial)
#aggfunc默认是均值
passenger_age=train.pivot_table(index='Pclass',values='Age')
print(passenger_age)
#不同登船地点统计
port_stats=train.pivot_table(index='Embarked',values=['Fare','Survived'],aggfunc=np.sum)
print(port_stats)

#去掉nan值
drop_na_columns = train.dropna(axis=1)
#如果年龄和性别有nan，则去掉
new_train_survival=train.dropna(axis=0,subset=['Age','Sex'])
print (new_train_survival)
#定位第几号记录
print(train.loc[83,'Age'])
print(train.loc[777,'Pclass'])
#安招年龄排序
new_titanic_survival=train.sort_values('Age',ascending=False)
print(new_titanic_survival.head(10))

#重置索引
titanic_reindexed = new_titanic_survival.reset_index(drop=True)
print(titanic_reindexed.head(10))

{1: 84.15468749999992, 2: 20.66218315217391, 3: 13.675550101832997}
        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363
              Age
Pclass
1       38.233441
2       29.877630
3       25.140620
                Fare  Survived
Embarked
C         10072.2962        93
Q          1022.2543        30
S         17439.3988       217
     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
6              7         0       1
7              8         0       3
8              9         1       3
9             10         1       2
10            11         1       3
11            12         1       1
12            13         0       3
13            14         0       3
14            15         0       3
15            16         1       2
16            17         0       3
18            19         0       3
20            21         0       2
21            22         1       2
22            23         1       3
23            24         1       1
24            25         0       3
25            26         1       3
27            28         0       1
30            31         0       1
33            34         0       2
34            35         0       1
35            36         0       1
37            38         0       3
38            39         0       3
..           ...       ...     ...
856          857         1       1
857          858         1       1
858          859         1       3
860          861         0       3
861          862         0       2
862          863         1       1
864          865         0       2
865          866         1       2
866          867         1       2
867          868         0       1
869          870         1       3
870          871         0       3
871          872         1       1
872          873         0       1
873          874         0       3
874          875         1       2
875          876         1       3
876          877         0       3
877          878         0       3
879          880         1       1
880          881         1       2
881          882         0       3
882          883         0       3
883          884         0       2
884          885         0       3
885          886         0       3
886          887         0       2
887          888         1       1
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
7                       Palsson, Master. Gosta Leonard    male   2.0      3
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                  Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
10                     Sandstrom, Miss. Marguerite Rut  female   4.0      1
11                            Bonnell, Miss. Elizabeth  female  58.0      0
12                      Saundercock, Mr. William Henry    male  20.0      0
13                         Andersson, Mr. Anders Johan    male  39.0      1
14                Vestrom, Miss. Hulda Amanda Adolfina  female  14.0      0
15                    Hewlett, Mrs. (Mary D Kingcome)   female  55.0      0
16                                Rice, Master. Eugene    male   2.0      4
18   Vander Planke, Mrs. Julius (Emelia Maria Vande...  female  31.0      1
20                                Fynney, Mr. Joseph J    male  35.0      0
21                               Beesley, Mr. Lawrence    male  34.0      0
22                         McGowan, Miss. Anna "Annie"  female  15.0      0
23                        Sloper, Mr. William Thompson    male  28.0      0
24                       Palsson, Miss. Torborg Danira  female   8.0      3
25   Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...  female  38.0      1
27                      Fortune, Mr. Charles Alexander    male  19.0      3
30                            Uruchurtu, Don. Manuel E    male  40.0      0
33                               Wheadon, Mr. Edward H    male  66.0      0
34                             Meyer, Mr. Edgar Joseph    male  28.0      1
35                      Holverson, Mr. Alexander Oskar    male  42.0      1
37                            Cann, Mr. Ernest Charles    male  21.0      0
38                  Vander Planke, Miss. Augusta Maria  female  18.0      2
..                                                 ...     ...   ...    ...
856         Wick, Mrs. George Dennick (Mary Hitchcock)  female  45.0      1
857                             Daly, Mr. Peter Denis     male  51.0      0
858              Baclini, Mrs. Solomon (Latifa Qurban)  female  24.0      0
860                            Hansen, Mr. Claus Peter    male  41.0      2
861                        Giles, Mr. Frederick Edward    male  21.0      1
862  Swift, Mrs. Frederick Joel (Margaret Welles Ba...  female  48.0      0
864                             Gill, Mr. John William    male  24.0      0
865                           Bystrom, Mrs. (Karolina)  female  42.0      0
866                       Duran y More, Miss. Asuncion  female  27.0      1
867               Roebling, Mr. Washington Augustus II    male  31.0      0
869                    Johnson, Master. Harold Theodor    male   4.0      1
870                                  Balkic, Mr. Cerin    male  26.0      0
871   Beckwith, Mrs. Richard Leonard (Sallie Monypeny)  female  47.0      1
872                           Carlsson, Mr. Frans Olof    male  33.0      0
873                        Vander Cruyssen, Mr. Victor    male  47.0      0
874              Abelson, Mrs. Samuel (Hannah Wizosky)  female  28.0      1
875                   Najib, Miss. Adele Kiamie "Jane"  female  15.0      0
876                      Gustafsson, Mr. Alfred Ossian    male  20.0      0
877                               Petroff, Mr. Nedelio    male  19.0      0
879      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)  female  56.0      0
880       Shelley, Mrs. William (Imanita Parrish Hall)  female  25.0      0
881                                 Markun, Mr. Johann    male  33.0      0
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
883                      Banfield, Mr. Frederick James    male  28.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
885               Rice, Mrs. William (Margaret Norton)  female  39.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket      Fare        Cabin Embarked
0        0         A/5 21171    7.2500          NaN        S
1        0          PC 17599   71.2833          C85        C
2        0  STON/O2. 3101282    7.9250          NaN        S
3        0            113803   53.1000         C123        S
4        0            373450    8.0500          NaN        S
6        0             17463   51.8625          E46        S
7        1            349909   21.0750          NaN        S
8        2            347742   11.1333          NaN        S
9        0            237736   30.0708          NaN        C
10       1           PP 9549   16.7000           G6        S
11       0            113783   26.5500         C103        S
12       0         A/5. 2151    8.0500          NaN        S
13       5            347082   31.2750          NaN        S
14       0            350406    7.8542          NaN        S
15       0            248706   16.0000          NaN        S
16       1            382652   29.1250          NaN        Q
18       0            345763   18.0000          NaN        S
20       0            239865   26.0000          NaN        S
21       0            248698   13.0000          D56        S
22       0            330923    8.0292          NaN        Q
23       0            113788   35.5000           A6        S
24       1            349909   21.0750          NaN        S
25       5            347077   31.3875          NaN        S
27       2             19950  263.0000  C23 C25 C27        S
30       0          PC 17601   27.7208          NaN        C
33       0        C.A. 24579   10.5000          NaN        S
34       0          PC 17604   82.1708          NaN        C
35       0            113789   52.0000          NaN        S
37       0        A./5. 2152    8.0500          NaN        S
38       0            345764   18.0000          NaN        S
..     ...               ...       ...          ...      ...
856      1             36928  164.8667          NaN        S
857      0            113055   26.5500          E17        S
858      3              2666   19.2583          NaN        C
860      0            350026   14.1083          NaN        S
861      0             28134   11.5000          NaN        S
862      0             17466   25.9292          D17        S
864      0            233866   13.0000          NaN        S
865      0            236852   13.0000          NaN        S
866      0     SC/PARIS 2149   13.8583          NaN        C
867      0          PC 17590   50.4958          A24        S
869      1            347742   11.1333          NaN        S
870      0            349248    7.8958          NaN        S
871      1             11751   52.5542          D35        S
872      0               695    5.0000  B51 B53 B55        S
873      0            345765    9.0000          NaN        S
874      0         P/PP 3381   24.0000          NaN        C
875      0              2667    7.2250          NaN        C
876      0              7534    9.8458          NaN        S
877      0            349212    7.8958          NaN        S
879      1             11767   83.1583          C50        C
880      1            230433   26.0000          NaN        S
881      0            349257    7.8958          NaN        S
882      0              7552   10.5167          NaN        S
883      0  C.A./SOTON 34068   10.5000          NaN        S
884      0   SOTON/OQ 392076    7.0500          NaN        S
885      5            382652   29.1250          NaN        Q
886      0            211536   13.0000          NaN        S
887      0            112053   30.0000          B42        S
889      0            111369   30.0000         C148        C
890      0            370376    7.7500          NaN        Q

[714 rows x 12 columns]
28.0
3
     PassengerId  Survived  Pclass                                  Name  \
630          631         1       1  Barkworth, Mr. Algernon Henry Wilson
851          852         0       3                   Svensson, Mr. Johan
493          494         0       1               Artagaveytia, Mr. Ramon
96            97         0       1             Goldschmidt, Mr. George B
116          117         0       3                  Connors, Mr. Patrick
672          673         0       2           Mitchell, Mr. Henry Michael
745          746         0       1          Crosby, Capt. Edward Gifford
33            34         0       2                 Wheadon, Mr. Edward H
54            55         0       1        Ostby, Mr. Engelhart Cornelius
280          281         0       3                      Duane, Mr. Frank

      Sex   Age  SibSp  Parch      Ticket     Fare Cabin Embarked
630  male  80.0      0      0       27042  30.0000   A23        S
851  male  74.0      0      0      347060   7.7750   NaN        S
493  male  71.0      0      0    PC 17609  49.5042   NaN        C
96   male  71.0      0      0    PC 17754  34.6542    A5        C
116  male  70.5      0      0      370369   7.7500   NaN        Q
672  male  70.0      0      0  C.A. 24580  10.5000   NaN        S
745  male  70.0      1      1   WE/P 5735  71.0000   B22        S
33   male  66.0      0      0  C.A. 24579  10.5000   NaN        S
54   male  65.0      0      1      113509  61.9792   B30        C
280  male  65.0      0      0      336439   7.7500   NaN        Q
   PassengerId  Survived  Pclass                                  Name   Sex  \
0          631         1       1  Barkworth, Mr. Algernon Henry Wilson  male
1          852         0       3                   Svensson, Mr. Johan  male
2          494         0       1               Artagaveytia, Mr. Ramon  male
3           97         0       1             Goldschmidt, Mr. George B  male
4          117         0       3                  Connors, Mr. Patrick  male
5          673         0       2           Mitchell, Mr. Henry Michael  male
6          746         0       1          Crosby, Capt. Edward Gifford  male
7           34         0       2                 Wheadon, Mr. Edward H  male
8           55         0       1        Ostby, Mr. Engelhart Cornelius  male
9          281         0       3                      Duane, Mr. Frank  male

    Age  SibSp  Parch      Ticket     Fare Cabin Embarked
0  80.0      0      0       27042  30.0000   A23        S
1  74.0      0      0      347060   7.7750   NaN        S
2  71.0      0      0    PC 17609  49.5042   NaN        C
3  71.0      0      0    PC 17754  34.6542    A5        C
4  70.5      0      0      370369   7.7500   NaN        Q
5  70.0      0      0  C.A. 24580  10.5000   NaN        S
6  70.0      1      1   WE/P 5735  71.0000   B22        S
7  66.0      0      0  C.A. 24579  10.5000   NaN        S
8  65.0      0      1      113509  61.9792   B30        C
9  65.0      0      0      336439   7.7500   NaN        Q
PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
Name: 99, dtype: object

In [97]:
#自定义函数
def hundredth_row(column):
    hundredth_item = column.loc[99]
    return hundredth_item
hundredth_row = train.apply(hundredth_row)
print(hundredth_row)
#same as
train.loc[99]

def is_minor(row):
    if row['Age']<18:
        return True
    else:
        return False

minors = train.apply(is_minor,axis=1)
print(minors)

PassengerId                  100
Survived                       0
Pclass                         2
Name           Kantor, Mr. Sinai
Sex                         male
Age                           34
SibSp                          1
Parch                          0
Ticket                    244367
Fare                          26
Cabin                        NaN
Embarked                       S
dtype: object
0      False
1      False
2      False
3      False
4      False
5      False
6      False
7       True
8      False
9       True
10      True
11     False
12     False
13     False
14      True
15     False
16      True
17     False
18     False
19     False
20     False
21     False
22      True
23     False
24      True
25     False
26     False
27     False
28     False
29     False
       ...
861    False
862    False
863    False
864    False
865    False
866    False
867    False
868    False
869     True
870    False
871    False
872    False
873    False
874    False
875     True
876    False
877    False
878    False
879    False
880    False
881    False
882    False
883    False
884    False
885    False
886    False
887    False
888    False
889    False
890    False
Length: 891, dtype: bool

### 3. series

In [ ]:
#相当于numpy的ndarry,包括一个index和一个value

In [142]:
fandango = pd.read_csv('fandango_score_comparison.csv')
series_film = fandango['FILM']
print(type(series_film))
print(fandango.head())
print(series_film[0:5])
print('_______________')
series_rt = fandango['RottenTomatoes']
print(series_rt[0:5])
print('_______________')
from pandas import Series
film_names = series_film.values
print(film_names)
print(type(film_names))
print('_______________')

rt_scores=series_rt.values
series_custom = Series(rt_scores,index=film_names)
print(series_custom[['Top Five (2014)','Ant-Man (2015)']])

print('_______________')
fiveten = series_custom[5:10]
print(fiveten)

print('______fileNamelist_________')
original_index = series_custom.index.tolist()
print(original_index)
print('_______________')
sorted_index = sorted(original_index)
sorted_by_index=series_custom.reindex(sorted_index)
print(sorted_by_index)

<class 'pandas.core.series.Series'>
                             FILM  RottenTomatoes  RottenTomatoes_User  \
0  Avengers: Age of Ultron (2015)              74                   86
1               Cinderella (2015)              85                   80
2                  Ant-Man (2015)              80                   90
3          Do You Believe? (2015)              18                   84
4   Hot Tub Time Machine 2 (2015)              14                   28

   Metacritic  Metacritic_User  IMDB  Fandango_Stars  Fandango_Ratingvalue  \
0          66              7.1   7.8             5.0                   4.5
1          67              7.5   7.1             5.0                   4.5
2          64              8.1   7.8             5.0                   4.5
3          22              4.7   5.4             5.0                   4.5
4          29              3.4   5.1             3.5                   3.0

   RT_norm  RT_user_norm         ...           IMDB_norm  RT_norm_round  \
0     3.70           4.3         ...                3.90            3.5
1     4.25           4.0         ...                3.55            4.5
2     4.00           4.5         ...                3.90            4.0
3     0.90           4.2         ...                2.70            1.0
4     0.70           1.4         ...                2.55            0.5

   RT_user_norm_round  Metacritic_norm_round  Metacritic_user_norm_round  \
0                 4.5                    3.5                         3.5
1                 4.0                    3.5                         4.0
2                 4.5                    3.0                         4.0
3                 4.0                    1.0                         2.5
4                 1.5                    1.5                         1.5

   IMDB_norm_round  Metacritic_user_vote_count  IMDB_user_vote_count  \
0              4.0                        1330                271107
1              3.5                         249                 65709
2              4.0                         627                103660
3              2.5                          31                  3136
4              2.5                          88                 19560

   Fandango_votes  Fandango_Difference
0           14846                  0.5
1           12640                  0.5
2           12055                  0.5
3            1793                  0.5
4            1021                  0.5

[5 rows x 22 columns]
0    Avengers: Age of Ultron (2015)
1                 Cinderella (2015)
2                    Ant-Man (2015)
3            Do You Believe? (2015)
4     Hot Tub Time Machine 2 (2015)
Name: FILM, dtype: object
_______________
0    74
1    85
2    80
3    18
4    14
Name: RottenTomatoes, dtype: int64
_______________
['Avengers: Age of Ultron (2015)' 'Cinderella (2015)' 'Ant-Man (2015)'
 'Do You Believe? (2015)' 'Hot Tub Time Machine 2 (2015)'
 'The Water Diviner (2015)' 'Irrational Man (2015)' 'Top Five (2014)'
 'Shaun the Sheep Movie (2015)' 'Love & Mercy (2015)'
 'Far From The Madding Crowd (2015)' 'Black Sea (2015)' 'Leviathan (2014)'
 'Unbroken (2014)' 'The Imitation Game (2014)' 'Taken 3 (2015)'
 'Ted 2 (2015)' 'Southpaw (2015)'
 'Night at the Museum: Secret of the Tomb (2014)' 'Pixels (2015)'
 'McFarland, USA (2015)' 'Insidious: Chapter 3 (2015)'
 'The Man From U.N.C.L.E. (2015)' 'Run All Night (2015)'
 'Trainwreck (2015)' 'Selma (2014)' 'Ex Machina (2015)'
 'Still Alice (2015)' 'Wild Tales (2014)' 'The End of the Tour (2015)'
 'Red Army (2015)' 'When Marnie Was There (2015)'
 'The Hunting Ground (2015)' 'The Boy Next Door (2015)' 'Aloha (2015)'
 'The Loft (2015)' '5 Flights Up (2015)' 'Welcome to Me (2015)'
 'Saint Laurent (2015)' 'Maps to the Stars (2015)'
 "I'll See You In My Dreams (2015)" 'Timbuktu (2015)' 'About Elly (2015)'
 'The Diary of a Teenage Girl (2015)' 'Kingsman: The Secret Service (2015)'
 'Tomorrowland (2015)' 'The Divergent Series: Insurgent (2015)'
 'Annie (2014)' 'Fantastic Four (2015)' 'Terminator Genisys (2015)'
 'Pitch Perfect 2 (2015)' 'Entourage (2015)' 'The Age of Adaline (2015)'
 'Hot Pursuit (2015)' 'The DUFF (2015)' 'Black or White (2015)'
 'Project Almanac (2015)' 'Ricki and the Flash (2015)' 'Seventh Son (2015)'
 'Mortdecai (2015)' 'Unfinished Business (2015)' 'American Ultra (2015)'
 'True Story (2015)' 'Child 44 (2015)' 'Dark Places (2015)'
 'Birdman (2014)' 'The Gift (2015)' 'Unfriended (2015)'
 'Monkey Kingdom (2015)' 'Mr. Turner (2014)'
 'Seymour: An Introduction (2015)' 'The Wrecking Crew (2015)'
 'American Sniper (2015)' 'Furious 7 (2015)'
 'The Hobbit: The Battle of the Five Armies (2014)' 'San Andreas (2015)'
 'Straight Outta Compton (2015)' 'Vacation (2015)' 'Chappie (2015)'
 'Poltergeist (2015)' 'Paper Towns (2015)' 'Big Eyes (2014)'
 'Blackhat (2015)' 'Self/less (2015)' 'Sinister 2 (2015)'
 'Little Boy (2015)' 'Me and Earl and The Dying Girl (2015)'
 'Maggie (2015)' 'Mad Max: Fury Road (2015)' 'Spy (2015)'
 'The SpongeBob Movie: Sponge Out of Water (2015)' 'Paddington (2015)'
 'Dope (2015)' 'What We Do in the Shadows (2015)' 'The Overnight (2015)'
 'The Salt of the Earth (2015)' 'Song of the Sea (2014)'
 'Fifty Shades of Grey (2015)' 'Get Hard (2015)' 'Focus (2015)'
 'Jupiter Ascending (2015)' 'The Gallows (2015)'
 'The Second Best Exotic Marigold Hotel (2015)' 'Strange Magic (2015)'
 'The Gunman (2015)' 'Hitman: Agent 47 (2015)' 'Cake (2015)'
 'The Vatican Tapes (2015)' 'A Little Chaos (2015)'
 'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)'
 'Escobar: Paradise Lost (2015)' 'Into the Woods (2014)'
 'It Follows (2015)' 'Inherent Vice (2014)' 'A Most Violent Year (2014)'
 "While We're Young (2015)" 'Clouds of Sils Maria (2015)'
 'Testament of Youth (2015)' 'Infinitely Polar Bear (2015)'
 'Phoenix (2015)' 'The Wolfpack (2015)'
 'The Stanford Prison Experiment (2015)' 'Tangerine (2015)'
 'Magic Mike XXL (2015)' 'Home (2015)' 'The Wedding Ringer (2015)'
 'Woman in Gold (2015)' 'The Last Five Years (2015)'
 'Mission: Impossible â€“ Rogue Nation (2015)' 'Amy (2015)'
 'Jurassic World (2015)' 'Minions (2015)' 'Max (2015)'
 'Paul Blart: Mall Cop 2 (2015)' 'The Longest Ride (2015)'
 'The Lazarus Effect (2015)' 'The Woman In Black 2 Angel of Death (2015)'
 'Danny Collins (2015)' 'Spare Parts (2015)' 'Serena (2015)'
 'Inside Out (2015)' 'Mr. Holmes (2015)' "'71 (2015)"
 'Two Days, One Night (2014)' 'Gett: The Trial of Viviane Amsalem (2015)'
 'Kumiko, The Treasure Hunter (2015)']
<class 'numpy.ndarray'>
_______________
Top Five (2014)    86
Ant-Man (2015)     80
dtype: int64
_______________
The Water Diviner (2015)        63
Irrational Man (2015)           42
Top Five (2014)                 86
Shaun the Sheep Movie (2015)    99
Love & Mercy (2015)             89
dtype: int64
______fileNamelist_________
['Avengers: Age of Ultron (2015)', 'Cinderella (2015)', 'Ant-Man (2015)', 'Do You Believe? (2015)', 'Hot Tub Time Machine 2 (2015)', 'The Water Diviner (2015)', 'Irrational Man (2015)', 'Top Five (2014)', 'Shaun the Sheep Movie (2015)', 'Love & Mercy (2015)', 'Far From The Madding Crowd (2015)', 'Black Sea (2015)', 'Leviathan (2014)', 'Unbroken (2014)', 'The Imitation Game (2014)', 'Taken 3 (2015)', 'Ted 2 (2015)', 'Southpaw (2015)', 'Night at the Museum: Secret of the Tomb (2014)', 'Pixels (2015)', 'McFarland, USA (2015)', 'Insidious: Chapter 3 (2015)', 'The Man From U.N.C.L.E. (2015)', 'Run All Night (2015)', 'Trainwreck (2015)', 'Selma (2014)', 'Ex Machina (2015)', 'Still Alice (2015)', 'Wild Tales (2014)', 'The End of the Tour (2015)', 'Red Army (2015)', 'When Marnie Was There (2015)', 'The Hunting Ground (2015)', 'The Boy Next Door (2015)', 'Aloha (2015)', 'The Loft (2015)', '5 Flights Up (2015)', 'Welcome to Me (2015)', 'Saint Laurent (2015)', 'Maps to the Stars (2015)', "I'll See You In My Dreams (2015)", 'Timbuktu (2015)', 'About Elly (2015)', 'The Diary of a Teenage Girl (2015)', 'Kingsman: The Secret Service (2015)', 'Tomorrowland (2015)', 'The Divergent Series: Insurgent (2015)', 'Annie (2014)', 'Fantastic Four (2015)', 'Terminator Genisys (2015)', 'Pitch Perfect 2 (2015)', 'Entourage (2015)', 'The Age of Adaline (2015)', 'Hot Pursuit (2015)', 'The DUFF (2015)', 'Black or White (2015)', 'Project Almanac (2015)', 'Ricki and the Flash (2015)', 'Seventh Son (2015)', 'Mortdecai (2015)', 'Unfinished Business (2015)', 'American Ultra (2015)', 'True Story (2015)', 'Child 44 (2015)', 'Dark Places (2015)', 'Birdman (2014)', 'The Gift (2015)', 'Unfriended (2015)', 'Monkey Kingdom (2015)', 'Mr. Turner (2014)', 'Seymour: An Introduction (2015)', 'The Wrecking Crew (2015)', 'American Sniper (2015)', 'Furious 7 (2015)', 'The Hobbit: The Battle of the Five Armies (2014)', 'San Andreas (2015)', 'Straight Outta Compton (2015)', 'Vacation (2015)', 'Chappie (2015)', 'Poltergeist (2015)', 'Paper Towns (2015)', 'Big Eyes (2014)', 'Blackhat (2015)', 'Self/less (2015)', 'Sinister 2 (2015)', 'Little Boy (2015)', 'Me and Earl and The Dying Girl (2015)', 'Maggie (2015)', 'Mad Max: Fury Road (2015)', 'Spy (2015)', 'The SpongeBob Movie: Sponge Out of Water (2015)', 'Paddington (2015)', 'Dope (2015)', 'What We Do in the Shadows (2015)', 'The Overnight (2015)', 'The Salt of the Earth (2015)', 'Song of the Sea (2014)', 'Fifty Shades of Grey (2015)', 'Get Hard (2015)', 'Focus (2015)', 'Jupiter Ascending (2015)', 'The Gallows (2015)', 'The Second Best Exotic Marigold Hotel (2015)', 'Strange Magic (2015)', 'The Gunman (2015)', 'Hitman: Agent 47 (2015)', 'Cake (2015)', 'The Vatican Tapes (2015)', 'A Little Chaos (2015)', 'The 100-Year-Old Man Who Climbed Out the Window and Disappeared (2015)', 'Escobar: Paradise Lost (2015)', 'Into the Woods (2014)', 'It Follows (2015)', 'Inherent Vice (2014)', 'A Most Violent Year (2014)', "While We're Young (2015)", 'Clouds of Sils Maria (2015)', 'Testament of Youth (2015)', 'Infinitely Polar Bear (2015)', 'Phoenix (2015)', 'The Wolfpack (2015)', 'The Stanford Prison Experiment (2015)', 'Tangerine (2015)', 'Magic Mike XXL (2015)', 'Home (2015)', 'The Wedding Ringer (2015)', 'Woman in Gold (2015)', 'The Last Five Years (2015)', 'Mission: Impossible â€“ Rogue Nation (2015)', 'Amy (2015)', 'Jurassic World (2015)', 'Minions (2015)', 'Max (2015)', 'Paul Blart: Mall Cop 2 (2015)', 'The Longest Ride (2015)', 'The Lazarus Effect (2015)', 'The Woman In Black 2 Angel of Death (2015)', 'Danny Collins (2015)', 'Spare Parts (2015)', 'Serena (2015)', 'Inside Out (2015)', 'Mr. Holmes (2015)', "'71 (2015)", 'Two Days, One Night (2014)', 'Gett: The Trial of Viviane Amsalem (2015)', 'Kumiko, The Treasure Hunter (2015)']
_______________
'71 (2015)                                         97
5 Flights Up (2015)                                52
A Little Chaos (2015)                              40
A Most Violent Year (2014)                         90
About Elly (2015)                                  97
Aloha (2015)                                       19
American Sniper (2015)                             72
American Ultra (2015)                              46
Amy (2015)                                         97
Annie (2014)                                       27
Ant-Man (2015)                                     80
Avengers: Age of Ultron (2015)                     74
Big Eyes (2014)                                    72
Birdman (2014)                                     92
Black Sea (2015)                                   82
Black or White (2015)                              39
Blackhat (2015)                                    34
Cake (2015)                                        49
Chappie (2015)                                     30
Child 44 (2015)                                    26
Cinderella (2015)                                  85
Clouds of Sils Maria (2015)                        89
Danny Collins (2015)                               77
Dark Places (2015)                                 26
Do You Believe? (2015)                             18
Dope (2015)                                        87
Entourage (2015)                                   32
Escobar: Paradise Lost (2015)                      52
Ex Machina (2015)                                  92
Fantastic Four (2015)                               9
                                                   ..
The Loft (2015)                                    11
The Longest Ride (2015)                            31
The Man From U.N.C.L.E. (2015)                     68
The Overnight (2015)                               82
The Salt of the Earth (2015)                       96
The Second Best Exotic Marigold Hotel (2015)       62
The SpongeBob Movie: Sponge Out of Water (2015)    78
The Stanford Prison Experiment (2015)              84
The Vatican Tapes (2015)                           13
The Water Diviner (2015)                           63
The Wedding Ringer (2015)                          27
The Wolfpack (2015)                                84
The Woman In Black 2 Angel of Death (2015)         22
The Wrecking Crew (2015)                           93
Timbuktu (2015)                                    99
Tomorrowland (2015)                                50
Top Five (2014)                                    86
Trainwreck (2015)                                  85
True Story (2015)                                  45
Two Days, One Night (2014)                         97
Unbroken (2014)                                    51
Unfinished Business (2015)                         11
Unfriended (2015)                                  60
Vacation (2015)                                    27
Welcome to Me (2015)                               71
What We Do in the Shadows (2015)                   96
When Marnie Was There (2015)                       89
While We're Young (2015)                           83
Wild Tales (2014)                                  96
Woman in Gold (2015)                               52
Length: 146, dtype: int64

In [146]:
#作用同上，根据index或者values排序
sc2 = series_custom.sort_index()
print(sc2.head())
print('----------------------------------------')
sc3 = series_custom.sort_values()
print(sc3[0:10])

'71 (2015)                    97
5 Flights Up (2015)           52
A Little Chaos (2015)         40
A Most Violent Year (2014)    90
About Elly (2015)             97
dtype: int64
----------------------------------------
Paul Blart: Mall Cop 2 (2015)     5
Hitman: Agent 47 (2015)           7
Hot Pursuit (2015)                8
Fantastic Four (2015)             9
Taken 3 (2015)                    9
The Boy Next Door (2015)         10
The Loft (2015)                  11
Unfinished Business (2015)       11
Mortdecai (2015)                 12
Seventh Son (2015)               12
dtype: int64

In [153]:
#series结构传入到numpy结构中做计算,貌似是values做计算，index不参与计算的，注意下面的数字是values
print(np.add(series_custom,series_custom))
print(np.sin(series_custom))
print(np.max(series_custom))

Avengers: Age of Ultron (2015)                    148
Cinderella (2015)                                 170
Ant-Man (2015)                                    160
Do You Believe? (2015)                             36
Hot Tub Time Machine 2 (2015)                      28
The Water Diviner (2015)                          126
Irrational Man (2015)                              84
Top Five (2014)                                   172
Shaun the Sheep Movie (2015)                      198
Love & Mercy (2015)                               178
Far From The Madding Crowd (2015)                 168
Black Sea (2015)                                  164
Leviathan (2014)                                  198
Unbroken (2014)                                   102
The Imitation Game (2014)                         180
Taken 3 (2015)                                     18
Ted 2 (2015)                                       92
Southpaw (2015)                                   118
Night at the Museum: Secret of the Tomb (2014)    100
Pixels (2015)                                      34
McFarland, USA (2015)                             158
Insidious: Chapter 3 (2015)                       118
The Man From U.N.C.L.E. (2015)                    136
Run All Night (2015)                              120
Trainwreck (2015)                                 170
Selma (2014)                                      198
Ex Machina (2015)                                 184
Still Alice (2015)                                176
Wild Tales (2014)                                 192
The End of the Tour (2015)                        184
                                                 ...
Clouds of Sils Maria (2015)                       178
Testament of Youth (2015)                         162
Infinitely Polar Bear (2015)                      160
Phoenix (2015)                                    198
The Wolfpack (2015)                               168
The Stanford Prison Experiment (2015)             168
Tangerine (2015)                                  190
Magic Mike XXL (2015)                             124
Home (2015)                                        90
The Wedding Ringer (2015)                          54
Woman in Gold (2015)                              104
The Last Five Years (2015)                        120
Mission: Impossible â€“ Rogue Nation (2015)       184
Amy (2015)                                        194
Jurassic World (2015)                             142
Minions (2015)                                    108
Max (2015)                                         70
Paul Blart: Mall Cop 2 (2015)                      10
The Longest Ride (2015)                            62
The Lazarus Effect (2015)                          28
The Woman In Black 2 Angel of Death (2015)         44
Danny Collins (2015)                              154
Spare Parts (2015)                                104
Serena (2015)                                      36
Inside Out (2015)                                 196
Mr. Holmes (2015)                                 174
'71 (2015)                                        194
Two Days, One Night (2014)                        194
Gett: The Trial of Viviane Amsalem (2015)         200
Kumiko, The Treasure Hunter (2015)                174
Length: 146, dtype: int64
Avengers: Age of Ultron (2015)                   -0.985146
Cinderella (2015)                                -0.176076
Ant-Man (2015)                                   -0.993889
Do You Believe? (2015)                           -0.750987
Hot Tub Time Machine 2 (2015)                     0.990607
The Water Diviner (2015)                          0.167356
Irrational Man (2015)                            -0.916522
Top Five (2014)                                  -0.923458
Shaun the Sheep Movie (2015)                     -0.999207
Love & Mercy (2015)                               0.860069
Far From The Madding Crowd (2015)                 0.733190
Black Sea (2015)                                  0.313229
Leviathan (2014)                                 -0.999207
Unbroken (2014)                                   0.670229
The Imitation Game (2014)                         0.893997
Taken 3 (2015)                                    0.412118
Ted 2 (2015)                                      0.901788
Southpaw (2015)                                   0.636738
Night at the Museum: Secret of the Tomb (2014)   -0.262375
Pixels (2015)                                    -0.961397
McFarland, USA (2015)                            -0.444113
Insidious: Chapter 3 (2015)                       0.636738
The Man From U.N.C.L.E. (2015)                   -0.897928
Run All Night (2015)                             -0.304811
Trainwreck (2015)                                -0.176076
Selma (2014)                                     -0.999207
Ex Machina (2015)                                -0.779466
Still Alice (2015)                                0.035398
Wild Tales (2014)                                 0.983588
The End of the Tour (2015)                       -0.779466
                                                    ...
Clouds of Sils Maria (2015)                       0.860069
Testament of Youth (2015)                        -0.629888
Infinitely Polar Bear (2015)                     -0.993889
Phoenix (2015)                                   -0.999207
The Wolfpack (2015)                               0.733190
The Stanford Prison Experiment (2015)             0.733190
Tangerine (2015)                                  0.683262
Magic Mike XXL (2015)                            -0.739181
Home (2015)                                       0.850904
The Wedding Ringer (2015)                         0.956376
Woman in Gold (2015)                              0.986628
The Last Five Years (2015)                       -0.304811
Mission: Impossible â€“ Rogue Nation (2015)      -0.779466
Amy (2015)                                        0.379608
Jurassic World (2015)                             0.951055
Minions (2015)                                   -0.558789
Max (2015)                                       -0.428183
Paul Blart: Mall Cop 2 (2015)                    -0.958924
The Longest Ride (2015)                          -0.404038
The Lazarus Effect (2015)                         0.990607
The Woman In Black 2 Angel of Death (2015)       -0.008851
Danny Collins (2015)                              0.999520
Spare Parts (2015)                                0.986628
Serena (2015)                                    -0.750987
Inside Out (2015)                                -0.573382
Mr. Holmes (2015)                                -0.821818
'71 (2015)                                        0.379608
Two Days, One Night (2014)                        0.379608
Gett: The Trial of Viviane Amsalem (2015)        -0.506366
Kumiko, The Treasure Hunter (2015)               -0.821818
Length: 146, dtype: float64
100